<div class="panel panel-default">
    <div class="panel-body">
        <!-- START table-responsive-->

        {{ form_start(form,{'attr': { 'class' : 'form-horizontal' , 'role' : 'form' } }) }}

            {% if not form.vars.valid %}
                <div class="alert alert-danger" role="alert">
                    <button class="close" aria-label="Close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    <p>Verifique os erros abaixo:</p>
                    {{ form_errors(form.titulo) }}
                    {{ form_errors(form.imagem) }}
                    {{ form_errors(form.noticia) }}
                    {{ form_errors(form.categoria) }}
                </div>
            {% endif %}

            <div class="form-group">
                {{ form_label(form.titulo,'Titulo') }}
                <div class="col-lg-10">
                    {{ form_widget(form.titulo) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.imagem,'Imagem') }}
                <div class="col-lg-10">
                    {{ form_widget(form.imagem) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.noticia,'Noticia') }}
                <div class="col-lg-10">
                    {{ form_widget(form.noticia) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.categoria,'Categoria') }}
                <div class="col-lg-10">
                    {{ form_widget(form.categoria) }}
                </div>
            </div>

            {{ form_widget(form.salvar, { 'label': 'Salvar Noticia' }) }}

        {{ form_end(form) }}
    </div>
</div>
</div>





