{% extends 'NoticiaBundle:Page:layout.html.twig' %}

{% block body %}
    <h3>Not&iacute;cias
        <a class="btn btn-primary pull-right" href="{{ path('_noticia_cadastrar') }}">Nova</a>
    </h3>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
        <div class="panel-body">
            <!-- START table-responsive-->
            <div class="table-responsive table-bordered">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th width="10%">#</th>
                        <th width="70%">T&iacute;tulo</th>
                        <th width="20%">A&ccedil;&otilde;es</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for noticia in noticias %}
                        <tr>
                            <td>{{ noticia.id }}</td>
                            <td>{{ noticia.titulo }}</td>
                            <td>
                                <a href="{{ path("_alterar_noticia", { 'noticia' : noticia.id }) }}" class="btn btn-sm btn-default">Editar</a>
                                <a href="{{ path("_excluir_noticia", { 'noticia' : noticia.id }) }}" class="btn btn-sm btn-warning">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
{% block sidebar %}
    <div class="well" style="margin-right: -140px;">
        <h4>Menu</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="{{ path('_noticia_index') }}">Not&iacute;cias</a>
                    </li>
                    <li><a href="{{ path('_categoria_index') }}">Categoria</a>
                    </li>
                    <li><a href="{{ path('_historico_index') }}">Hist&oacute;rico</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}