{% extends 'NoticiaBundle:Page:layout.html.twig' %}

{% block title %}{{ noticia.titulo }}{% endblock %}
{% block body %}

    <article class="noticia">
        <header>
            <div class="data"><time datetime="{{ noticia.dtCadastro|date('c') }}">{{ noticia.dtCadastro|date('d/m/Y - h:iA') }}</time></div>
            <h2>{{ noticia.titulo }}</h2>
        </header>
        <img src="{{ asset(['imagens_noticias/', noticia.imagem.path]|join) }}" alt="{{ noticia.titulo }} imagem nao encontrada" class="large" />
        <div>
            <p>{{ noticia.noticia }}</p>
        </div>
    </article>
    <section class="comentarios" id="comentarios">
        <section class="comentarios-anteriores">
            <h3>Coment&aacute;rios</h3>
            {% include 'NoticiaBundle:Comentario:index.html.twig' with { 'comentarios': comentarios } %}
        </section>
        <h3>Adicionar Coment&aacute;rio</h3>

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {{ render(controller( 'NoticiaBundle:Comentario:new', { 'noticia_id': noticia.id } )) }}
    </section>
{% endblock %}

