{% extends 'NoticiaBundle:Page:layout.html.twig' %}

{% block body %}
    {% for noticia in noticias %}
        <article class="noticia">
            <div class="data"><time datetime="{{ noticia.dtCadastro|date('c') }}">{{ noticia.dtCadastro|date('l, F j, Y') }}</time></div>
            <header>
                <h2><a href="{{ path('_noticia', { 'id': noticia.id }) }}">{{ noticia.titulo }}</a></h2>
            </header>

            <img src="{{ asset(['images/', noticia.imagem]|join) }}" />
            <div class="snippet">
                <p>{{ noticia.noticia(500) }}</p>
                <p class="continue"><a href="{{ path('_noticia', { 'id': noticia.id }) }}">Continue lendo...</a></p>
            </div>

            <footer class="meta">
                <p>Comentarios: -</p>
                <p>Criado em {{ noticia.dtCadastro|date('h:iA') }}</p>
                <p>Categoria: <span class="highlight">{{ noticia.categoria }}</span></p>
            </footer>
        </article>
    {% else %}
        <p>Sem not&iacute;cias</p>
    {% endfor %}
{% endblock %}
{% block sidebar %}
    <div class="well" style="margin-right: -140px;">
        <h4>Categorias</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}