{% extends 'NoticiaBundle:Page:layout.html.twig' %}

{% block body %}
    {% for noticia in noticias %}
        <article class="noticia">
            <img src="{{ asset(['images/', noticia.imagem]|join) }}" />
            <div class="snippet">
                <h3><a href="{{ path('_noticia_show', { 'id': noticia.id }) }}">{{ noticia.titulo }}</a></h3><!--  -->
                <hr>
                <p>{{ noticia.noticia(50) }}</p>
                <p class="continue"><a href="{{ path('_noticia_show', { 'id': noticia.id }) }}">Continue lendo...</a></p>
            </div>
            <footer class="meta">
                <p><span class="glyphicon glyphicon-time"></span>{{ noticia.dtCadastro|date('h:iA') }}</p>
                <p>Categoria: <span class="highlight">{{ noticia.categoria }}</span></p>
            </footer>
        </article>
    {% else %}
        <p>Sem not&iacute;cias</p>
    {% endfor %}
{% endblock %}
{% block sidebar %}
    <div class="well" style="margin-right: -140px;">
        <h4>Categorias</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                    <li><a href="#">Category Name</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}